@import url("https://fonts.googleapis.com/css2?family=Staatliches&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

body {
  background-image: url("https://unsplash.com/photos/WM5niLEWPRM/download?force=true");
  background-size: auto 120vh;
  background-repeat: no-repeat;
  font-family: "Open Sans";
  margin: 0;
  height: 100vh;
}

.container {
  display: flex;
  height: 100%;
}

.logo {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.logo > svg {
  fill: #fff;
  width: 100%;
  margin-top: 25vh;
  background-color: #00000066;
}

.logo > p {
  position: absolute;
  bottom: 0;
  font-size: smaller;
  opacity: 0.5;
  transition: opacity ease-in-out 250ms;
}

.logo > p:hover {
  opacity: 1;
}

a {
  color: #fff;
}

.content {
  background-color: hsl(88, 20%, 98%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.content > p {
  font-weight: 600;
  font-size: 1.3em;
  margin-inline: 3rem;
  max-width: 700px;
}

.form-container {
  background-color: #fff;
  padding: 0.25rem 3rem;
  margin-top: 3rem;
  box-shadow:
  0.2px 0.1px 7.3px rgba(0, 0, 0, 0.001),
  0.4px 0.4px 13.8px rgba(0, 0, 0, 0.003),
  0.9px 0.7px 19.2px rgba(0, 0, 0, 0.004),
  1.5px 1.3px 23.6px rgba(0, 0, 0, 0.006),
  2.4px 2px 26.6px rgba(0, 0, 0, 0.013),
  3.6px 3.1px 28.1px rgba(0, 0, 0, 0.025),
  5.3px 4.6px 27.9px rgba(0, 0, 0, 0.03),
  8px 6.8px 25.7px rgba(0, 0, 0, 0.033),
  12.7px 10.9px 21.9px rgba(0, 0, 0, 0.037),
  35px 30px 80px rgba(0, 0, 0, 0.04)
;
}

.form-container > h2 {
  margin-block: 1rem;
  color: #353535;
}

form {
  display: grid;
  max-width: 700px;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-block: 1.5rem;
}

form > label {
  display: flex;
  flex-direction: column;
  font-family: Staatliches;
  font-size: 0.8em;
  color: #4a4a4a;
  letter-spacing: 0.1em;
}

form > label > input {
  font-size: 0.9rem;
  border-radius: 5px;
  padding: 0.5em 1em;
  outline: none;
  background-color: #fefefe;
  border: 1px #eaeaea solid;
  box-sizing: border-box;
  transition: all 250ms ease-in-out;
  font-family: "Open Sans";
}

form > label > input:focus {
  border: rgb(9, 87, 230) 1px solid;
  box-shadow: 0px 2.5px 1.8px rgba(0, 0, 0, 0.024),
    0px 2.8px 3.6px rgba(0, 0, 0, 0.051), 0px 2.7px 5.8px rgba(0, 0, 0, 0.08),
    0px 2.4px 9px rgba(0, 0, 0, 0.114), 0px 2.2px 16.4px rgba(0, 0, 0, 0.154),
    0px 3px 80px rgba(0, 0, 0, 0.17);
}

button{
  margin-left: 3rem;
  margin-top: 2rem;
  width: fit-content;
  padding: 0.75rem 3rem;
  background-color: #596d48;
  color: #fff;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 1rem;
  border-radius: 10px;
  outline: none;
  border: none;
  box-shadow: 0px 1.5px 1.8px rgba(0, 0, 0, 0.024),
    0px 1.8px 3.6px rgba(0, 0, 0, 0.051), 0px 2.7px 5.8px rgba(0, 0, 0, 0.08),
    0px 1.4px 9px rgba(0, 0, 0, 0.114), 0px 2.2px 16.4px rgba(0, 0, 0, 0.154),
    0px 2px 80px rgba(0, 0, 0, 0.17);
}

.log-in-line{
  font-size: 1rem !important;
  margin-top: 2rem;
}

.log-in-line > a{
  color: #596d48;
  text-decoration: none;
  font-weight: 800;
}